include head.pug

.topNavigation
  h1.navigationHeader Information

div
  .auftragSearch
    form(action="javascript:getOrders()")
      input.searchField(id="id",type="text", name="auftragsnr", placeholder="Auftragsnummer")
      input.searchField(id="pId",type="text", name="postleitzahl", placeholder="Produkt Id")
      input.searchField(id="pAnz",type="text", name="postleitzahl", placeholder="Produkt Anzahl")
      input.searchField(id="status",type="text", name="status", placeholder="Status")
      input.squarebutton(type="submit" value="Suchen" id="search")
  .space

script(type="text/javascript" src="javascript/script.js")